/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 0 20px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('Assets/Web_Design.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5rem;
    width: 80%;
    max-width: 600px;
}

main {
    padding: 50px 0;
}

.projects-section {
    text-align: center;
}

.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(280px, 1fr));
    gap: 30px;
}

.project-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card img {
    height: 300px;
    width: 100%;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0073e6;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #333;
    color: white;
    font-size: 1rem;
}


@media (max-width: 1200px) {
    .projects-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1000px) {
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .projects-grid {
        grid-template-columns: 1fr; /* 1 column for very small screens */
    }
}